.servicesHero {
    position: relative; /* Ensure relative positioning for absolute child elements */
    background-image: url('/assets/backgroundContact.png');
    padding: 5rem 0;
    background-repeat: no-repeat;
    margin-bottom: 2.2rem;
    display: flex;
  }
  
  .containerServiceHero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }
  
  .rowServiceHero {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6ServiceHero {
    flex: 0 0 80%;
    max-width: 50%;
  }
  
  .img-fluidServiceHero {
    max-width: 100%;
    height: auto;
    margin-left: -4rem; /* Add padding to the right of the image column */
  }
  .img-fluidContactHero:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .contentContact {
    padding: 2rem;
    position: relative;
  }
  
  .headingContact {
    color: #333;
    font-family: "DM Sans", sans-serif;
    font-size: 4rem; /* Adjust font size */
    font-weight: 700;
    line-height: 1.2; /* Adjust line height */
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: left; /* Align text as needed */
    position: relative;
  }
  
  .line2-container {
    display: inline-block;
    
  }
  
  .line2 {
    position: absolute;
    bottom: 78px; /* Adjust this value as needed */
    left: 90px;
    width: 45%;
    z-index:1;
  }
  
  .contactBody {
    color: #333;
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem; /* Adjust font size */
    font-weight: 400;
    line-height: 1.6; /* Adjust line height */
    text-align: left; /* Align text as needed */
  }
  
  /* Responsive styles */
  @media (max-width: 992px) {
    .contact-hero {
      height: auto; /* Remove fixed height on smaller screens */
      min-height: 100vh; /* Ensure at least full viewport height */
      padding: 3rem 0; /* Adjust padding for smaller screens */
    }
    .line2 {
      display: none; /* Hide the line2 element on screens 768px and below */
    }
    .col-md-6ContactHero {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .img-fluidContactHero {
      margin-left: 0; /* Remove left margin on smaller screens */
    }
  
    .headingContact, .contactBody {
      text-align: center; /* Center align text on smaller screens */
    }
  
    .headingContact {
      font-size: 2.6rem; /* Adjust font size for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .contact-hero {
      padding: 2rem 0; /* Adjust padding for smaller screens */
    }
    .line2 {
      display: none; /* Hide the line2 element on screens 768px and below */
    }
    .img-fluidContactHero {
      margin-left: 0; /* Ensure left margin is removed on smaller screens */
    }
  
    .headingContact {
      font-size: 2.6rem; /* Adjust font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .contact-hero {
      padding: 1.5rem 0; /* Adjust padding for smaller screens */
    }
  
    .img-fluidContactHero {
      margin-left: 0; /* Ensure left margin is removed on smallest screens */
    }
  
    .headingContact {
      font-size: 2.6rem; /* Adjust font size for smaller screens */
    }
  }
  