.service-component-four {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    max-width: 1052px; /* Match the heading width */
    margin: 0 auto;
    font-family: "Liberation Sans";
    text-align: center;
  }
  .finalService{
    flex-direction: row-reverse;
  }
  
  .service-component-four h2 {
    color: #000;
    font-size: 48px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  
  
  .service-component-four .description {
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
    width: 90%;
    margin: 5px auto; /* Center the description */
  }
  
  .service2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction:row-reverse;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .service-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .service-image2 {
    border-radius: 8px;
    width: 368px;
    height: 407px;

  }
  
  .service-content {
    flex: 2;
    padding: 20px;
    text-align: left;
  }
  
  .service-content h3 {
    color: #000;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .service-content p {
    color: #333;
    line-height: 1.6;
  }
  .heading1{
    margin-top:2rem; 
    font-size:26px;
     
  }
  .heading2{
    margin-top:4rem;
    font-size: 26px;
  }
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .service {
      flex-direction: column;
    }
  
    .service-content {
      text-align: center;
      width: 100%; /* Ensure full width on small screens */
    }
  
    .service-image-container {
      margin-bottom: 20px; /* Add margin to separate image from text */
    }
  }
  